.vs/
KTouch/KTouch.vcxproj.user
KTouch/Debug/

KTouch/Release/KTouch.exe.recipe
KTouch/Release/KTouch.iobj
KTouch/Release/KTouch.ipdb
KTouch/Release/KTouch.log
KTouch/Release/KTouch.obj
KTouch/Release/PathUtilFn.obj
KTouch/Release/StringUtil.obj
KTouch/Release/vc142.pdb
KTouch/Release/KTouch.tlog/CL.command.1.tlog
KTouch/Release/KTouch.tlog/CL.read.1.tlog
KTouch/Release/KTouch.tlog/CL.write.1.tlog
KTouch/Release/KTouch.tlog/KTouch.lastbuildstate
KTouch/Release/KTouch.tlog/link.command.1.tlog
KTouch/Release/KTouch.tlog/link.read.1.tlog
KTouch/Release/KTouch.tlog/link.write.1.tlog
KTouch/x64/Debug/KTouch.exe.recipe
KTouch/x64/Debug/KTouch.ilk
KTouch/x64/Debug/KTouch.log
KTouch/x64/Debug/KTouch.obj
KTouch/x64/Debug/PathUtilFn.obj
KTouch/x64/Debug/StringUtil.obj
KTouch/x64/Debug/vc142.idb
KTouch/x64/Debug/vc142.pdb
KTouch/x64/Debug/KTouch.tlog/CL.command.1.tlog
KTouch/x64/Debug/KTouch.tlog/CL.read.1.tlog
KTouch/x64/Debug/KTouch.tlog/CL.write.1.tlog
KTouch/x64/Debug/KTouch.tlog/KTouch.lastbuildstate
KTouch/x64/Debug/KTouch.tlog/link.command.1.tlog
KTouch/x64/Debug/KTouch.tlog/link.read.1.tlog
KTouch/x64/Debug/KTouch.tlog/link.write.1.tlog
KTouch/x64/Release/KTouch.exe.recipe
KTouch/x64/Release/KTouch.iobj
KTouch/x64/Release/KTouch.ipdb
KTouch/x64/Release/KTouch.log
KTouch/x64/Release/KTouch.obj
KTouch/x64/Release/PathUtilFn.obj
KTouch/x64/Release/StringUtil.obj
KTouch/x64/Release/vc142.pdb
KTouch/x64/Release/KTouch.tlog/CL.command.1.tlog
KTouch/x64/Release/KTouch.tlog/CL.read.1.tlog
KTouch/x64/Release/KTouch.tlog/CL.write.1.tlog
KTouch/x64/Release/KTouch.tlog/KTouch.lastbuildstate
KTouch/x64/Release/KTouch.tlog/link.command.1.tlog
KTouch/x64/Release/KTouch.tlog/link.read.1.tlog
KTouch/x64/Release/KTouch.tlog/link.write.1.tlog
x64/Debug/KTouch.exe
x64/Debug/KTouch.pdb
x64/Release/KTouch.pdb
